<md-card>

    <md-card-content>
        <md-list>
            <div *ngFor="let user of usersJSON.data;">
                <md-list-item>{{ user.first_name }}, {{ user.last_name }}</md-list-item>
            </div>
        </md-list>
    </md-card-content>

    <br>
    <br>

    <md-card-content>
        <md-list>
            <div *ngFor="let system of systemsJSON.data;">
                <md-list-item>{{ system.system_name + ", " + system.acronym }}</md-list-item>
            </div>
        </md-list>
    </md-card-content>

    <br>
    <br>

    <md-card-content>
        <md-select class="example-form-select">
            <md-option *ngFor="let user of usersJSON.data;" [value]="user.first_name">
                {{ user.first_name + " " + user.last_name }}
            </md-option>
        </md-select>
    </md-card-content>


    <br>
    <br>



    <md-card-content>
        <md-input-container class="example-form-select">
            <input mdInput placeholder="User" [mdAutocomplete]="autoUser" [formControl]="userFormControl">
        </md-input-container>

        <md-autocomplete #autoUser="mdAutocomplete">
            <md-option *ngFor="let user of filteredUsers | async;" [value]="user" (click)="userSelected = true">
                {{ user }}
            </md-option>
        </md-autocomplete>

        <md-select placeholder="System" class="example-form-select" *ngIf="userSelected">
            <md-option *ngFor="let system of systemsNamesList;" [value]="system">{{ system }}</md-option>
        </md-select>


    </md-card-content>



    <md-card-content>
        <md-card-footer>
            FOOTER OF THE BODY
        </md-card-footer>
    </md-card-content>

</md-card>